/* Estilos marca */
.color-primary {
    color: #d8561f !important;
}

.bg-primary {
    background-color: #18133c !important; /* Cor de fundo substituída */
}

.text-white {
    color: #d8561f !important; /* Cor de texto substituída */
}

/* */
header {
    background-color: #18133c;
    color: white;
}

footer {
    font-size: 0.9em;
    color: #666;
}



.topo-img{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 5px;
}

header img {
    width: 100%;
}

@media (min-width: 769px) {

    header img {
        width: 70%;
    }
}

